<!DOCTYPE html>
<html>  
    
<%- include('../views/partials/head.ejs') %>

    <body>

        <%- include('../views/partials/nav.ejs') %>
        
       
        <div class="about">
            <center><h2>About Me</h2></center>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      

    <%- include('../views/partials/footer.ejs') %>
       
    </body>
</html>