<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>

    <section class="jokeGen">
        <h1>Jokes On You!</h1>
        <button id="bntLoadJoke">Say No!</button>

        <div id="jokeSetup"></div>
        <div id="jokePunchline"></div>
    </section>
 
    <%- include('../partials/footer.ejs') %>
    
    <script src="script.js">
        
    </script>
</body>
</html>